.signUp-form{
    font-family: "Inter", sans-serif;
    max-width: 500px;
    background-color: #F3F3F3;
    padding: 20px;
    border: 1px solid #DADADA;
    margin: 0 auto;
    margin-top: 72px;
}
.subtitle-block{
    display: flex;
    align-items: center;
    padding: 24px 0px;
}
.subtitle-block_center{
    justify-content: center;
}
.subtitle-block__link{
    text-decoration: none;
}