.all-post-container{
    display: flex;
}
.left-block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 3px;
}
.post-right{
    padding-left: 30px;
}
.all-post-navigation{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-block{
    align-items: center;
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.navigation-block__caption, .navigation-block__caption_dark{
    font-weight: 500;
    line-height: 24px;
    color: #313037;
}
.navigation-block__caption_dark{
    color: white;
}