.post-image{
    height: 510px;
    width: 990px;
    padding: 30px;
    object-fit: cover;
}
.subtitle-block{
    display: flex;
    gap: 10px;
}
.text, .text_dark{
    color: #313037;
    font-size: 18px;
    line-height: 32px;
}
.text_dark{
    color: white;
}
.button-block{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DADADA;
    padding: 30px 0px;
}
.button-dislike{
    margin-left: 10px;
}
.button-like, .button-dislike, .button-favorites{
    border: none;
    background-color: #E8E8E8;
    border-radius: 2px;
    padding: 16px 32px;
}
.button-favorites{
    display: flex;
    align-items: center;
    font-family: "Inter",sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #313037;
}
.navigation-container{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.navigation-left, .navigation-right{
    display: flex;
    gap: 10px;
}
.navigation-right{
    text-align: end;
}
.navigation-text, .navigation-text_dark{
    font-weight: 500;
    line-height: 24px;
    color: #313037;
}
.navigation-text_dark{
    color: white;
}