.footer-block{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #DADADA;
    padding: 34px 0px;
}
.footer-block__caption{
    color: #8D8E97;
    border-top: #DADADA;
}
.footer-container{
    font-family: "Inter", sans-serif;
    max-width: 1120px;
    margin: 0 auto;
    padding-top: 50px;
}