.template{
    /* width: 620px; */
    font-size: 25px;
    font-family: "Inter", sans-serif;
    color: #254050;
    padding-bottom: 48px;
    
}
.template-container{
    padding: 40px;
    border: 1px solid #DADADA;
    text-align: center;
    margin: 0 auto;
    margin-top: 72px;
}