.container{
    font-family: "Inter", sans-serif;
    max-width: 1120px;
    min-height: 70vh;
    margin: 0 auto;
    padding-top: 50px;
}
/* .main{
    box-sizing: border-box;
    padding: 0 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.background-light{
    background-color: #F3F3F3;
}
.background-dark{
    background-color: #313037;
}
.link{
    text-decoration: none;
    /* возможно что то сломает */
    /* display: block;
    width: 200px; */
}
.active{
    font-weight: 700;
}